In [1]:
import pandas as pd

In [3]:
# Creating DataFrame - DataFrame-1
rajshahi_weather = pd.DataFrame ({
    'city':['sirajgong','pabna','bogra'],
    'temperature': [30, 27, 33],
    'humidity': [70, 75, 80]
})
rajshahi_weather

        city  temperature  humidity
0  sirajgong           30        70
1      pabna           27        75
2      bogra           33        80

In [7]:
# Creating DataFrame - DataFrame-2
khulna_weather = pd.DataFrame({
    'city': ['khulna', 'jessore', 'kushtia'],
    'temperature': [22, 25, 30],
    'humidity' : [73, 75, 82]
})
khulna_weather

      city  temperature  humidity
0   khulna           22        73
1  jessore           25        75
2  kushtia           30        82

# Concatenation

In [6]:
df = pd.concat([rajshahi_weather, khulna_weather])     # Repeated Index 
df

        city  temperature  humidity
0  sirajgong           30        70
1      pabna           27        75
2      bogra           33        80
0     khulna           22        73
1    jessore           25        75
2    kushtia           30        82

In [9]:
df = pd.concat([rajshahi_weather, khulna_weather], ignore_index=True)  # Index in order
df

        city  temperature  humidity
0  sirajgong           30        70
1      pabna           27        75
2      bogra           33        80
3     khulna           22        73
4    jessore           25        75
5    kushtia           30        82

### Providing Keys in as sub Group

In [10]:
df = pd.concat([rajshahi_weather, khulna_weather], keys=['rajshahi','khulna']) # Keys name is case sensitive e.g not Rajshahi, rather "rajshahi" Keys will not work when ignore_index passed
df

                 city  temperature  humidity
rajshahi 0  sirajgong           30        70
         1      pabna           27        75
         2      bogra           33        80
khulna   0     khulna           22        73
         1    jessore           25        75
         2    kushtia           30        82

In [11]:
df.loc["rajshahi"]

        city  temperature  humidity
0  sirajgong           30        70
1      pabna           27        75
2      bogra           33        80

In [12]:
df.loc['khulna']

      city  temperature  humidity
0   khulna           22        73
1  jessore           25        75
2  kushtia           30        82

- So, having these keys usefull, when the dataset is large
- Up until now, append data frame top of each other

### Case-2 : Appending 2nd dataframe as column of original dataframe, instead of appending as rows

In [13]:
temperature_df = pd.DataFrame({
    'city':['sirajgong','pabna','bogra'],
    'temperature': [30, 27, 33],
})
temperature_df

        city  temperature
0  sirajgong           30
1      pabna           27
2      bogra           33

In [14]:
windspeed_df = pd.DataFrame({
    'city':['sirajgong','pabna','bogra'],
    'windspeed': [7, 8, 11],
})
windspeed_df

        city  windspeed
0  sirajgong          7
1      pabna          8
2      bogra         11

In [15]:
df = pd.concat([temperature_df, windspeed_df]) # 2nd datafreme append as row while default axis = 0, it can be defined as col by giving axis = 1 
df

        city  temperature  windspeed
0  sirajgong         30.0        NaN
1      pabna         27.0        NaN
2      bogra         33.0        NaN
0  sirajgong          NaN        7.0
1      pabna          NaN        8.0
2      bogra          NaN       11.0

In [17]:
df = pd.concat([temperature_df, windspeed_df], axis=1) # now its append as row, but if any order/ dataframe structure changed, it will give wrong output
df

        city  temperature       city  windspeed
0  sirajgong           30  sirajgong          7
1      pabna           27      pabna          8
2      bogra           33      bogra         11

### Case 3: when dataframe order & structure are different

- This can be solved by passing index

In [ ]:
temperature_df = pd.DataFrame({
    'city':['sirajgong','pabna','bogra'],
    'temperature': [30, 27, 33],
})
temperature_df

In [18]:
windspeed_df = pd.DataFrame({
    'city':['pabna','sirajgong'],
    'windspeed': [7, 8],
})
windspeed_df

        city  windspeed
0      pabna          7
1  sirajgong          8

In [19]:
df = pd.concat([temperature_df, windspeed_df], axis=1)
df

        city  temperature       city  windspeed
0  sirajgong           30      pabna        7.0
1      pabna           27  sirajgong        8.0
2      bogra           33        NaN        NaN

### Passing index

In [22]:
temperature_df = pd.DataFrame({
    'city':['sirajgong','pabna','bogra'],
    'temperature': [30, 27, 33],
}, index=[0,1,2])             # passing index for contat conrolling
temperature_df

        city  temperature
0  sirajgong           30
1      pabna           27
2      bogra           33

In [26]:
windspeed_df = pd.DataFrame({
    'city':['pabna','sirajgong'],
    'windspeed': [7, 8],
}, index=[1,0])     # In original dataframe, index of Pabna = 1, index of Sir = 0
windspeed_df

        city  windspeed
1      pabna          7
0  sirajgong          8

In [28]:
df = pd.concat([temperature_df, windspeed_df], axis=1)   # regardless order/ shape index will contat correctly
df

        city  temperature       city  windspeed
0  sirajgong           30  sirajgong        8.0
1      pabna           27      pabna        7.0
2      bogra           33        NaN        NaN

In [30]:
windspeed_df # index declaration, order the dataframe as per index declaration

        city  windspeed
1      pabna          7
0  sirajgong          8

- Index is a way to align rows from different dataframe

### Case 3 : Concat Series

In [31]:
temperature_df

        city  temperature
0  sirajgong           30
1      pabna           27
2      bogra           33

In [32]:
s = pd.Series(['Humid','Dry','Rain'], name='event')
s

0    Humid
1      Dry
2     Rain
Name: event, dtype: object

In [33]:
df = pd.concat([temperature_df, s], axis=1)
df

        city  temperature  event
0  sirajgong           30  Humid
1      pabna           27    Dry
2      bogra           33   Rain