# Different Ways Creating DataFrame

- Ref 1030

- Ranom
- Function with random
- Built-in-dataset
- Dictionary 
- Tuple

### Import Libraries

In [19]:
import pandas as pd
import numpy as np
import seaborn as sns

# Method 1 : Random Method

In [2]:
# Method 1
df = pd.DataFrame()         # Object Creation 
size = 10_000

In [5]:
# Building Columns - Random
df['age'] = np.random.randint(0, 100, size)          # Min Age 0, Max Age 100, 10 data points
df['time_in_bed'] = np.random.randint(0,9, size)     # 0 to 9 hours for sleeping
df['pct_sleeping'] = np.random.rand(size)            # rand used for %, fraction
df['fav_food'] = np.random.choice(['Pizza','Burger','Sandwitch','Ice-Cream'])
df['dislike_food'] = np.random.choice(['candy','chips', 'Chanachur','drinks'])
df.head()

   age  time_in_bed  pct_sleeping   fav_food dislike_food
0   69            6      0.516822  Ice-Cream        candy
1   20            3      0.737006  Ice-Cream        candy
2   48            2      0.362017  Ice-Cream        candy
3   95            4      0.656225  Ice-Cream        candy
4    1            1      0.929960  Ice-Cream        candy

# Method - 2

In [28]:
# Function with Random
def get_data(size = 10_000):
    df1 = pd.DataFrame()
    df1 ['age'] = np.random.randint(0,95, size)
    df1 ['time_in_bed'] = np.random.randint(0,10,size)
    df1 ['pct_sleeping'] = np.random.rand(size)
    df1 ['fav_food'] = np.random.choice(['Pizza','Burger','Sandwitch','Water Melan'])
    df1 ['dislike_food'] = np.random.choice(['Tomatoo','Brief','Soft Drink','Brean'])
    
    return df1

get_data()

      age  time_in_bed  pct_sleeping   fav_food dislike_food
0      12            6      0.553434  Sandwitch        Brief
1      29            3      0.988985  Sandwitch        Brief
2      71            9      0.008829  Sandwitch        Brief
3      93            1      0.245304  Sandwitch        Brief
4      56            9      0.869873  Sandwitch        Brief
...   ...          ...           ...        ...          ...
9995    2            2      0.724227  Sandwitch        Brief
9996   48            9      0.544815  Sandwitch        Brief
9997    8            4      0.157482  Sandwitch        Brief
9998   46            4      0.145055  Sandwitch        Brief
9999   20            2      0.468968  Sandwitch        Brief

[10000 rows x 5 columns]

# Method 3: Built-In Dataset

In [20]:
# See Available Built-In Dataset
print(sns.get_dataset_names())

['anagrams', 'anscombe', 'attention', 'brain_networks', 'car_crashes', 'diamonds', 'dots', 'dowjones', 'exercise', 'flights', 'fmri', 'geyser', 'glue', 'healthexp', 'iris', 'mpg', 'penguins', 'planets', 'seaice', 'taxis', 'tips', 'titanic']

In [21]:
df = sns.load_dataset('iris')
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

# Method 4: Dictionary

In [25]:
# Python Dictionary
weather_data = {
    'day': ['2022-11-01','2022-11-02','2022-11-03'],
    'temperature': [26,36,27],
    'windspeed':[2,5,7],
    'event':['Rainy','Sunny','Snow']
}

df3 = pd.DataFrame(weather_data)
df3

          day  temperature  windspeed  event
0  2022-11-01           26          2  Rainy
1  2022-11-02           36          5  Sunny
2  2022-11-03           27          7   Snow

In [26]:
# Dictionary
weather_data = [
    {'Day': '2022-11-01', 'Temperature':32,'Windspeed':6,'Event':'Rainy'},
    {'Day': '2022-11-03', 'Temperature':35,'Windspeed':5,'Event':'Snow'},
    {'Day': '2022-11-05', 'Temperature':28,'Windspeed':3,'Event':'Sunny'},
]
df4 = pd.DataFrame(weather_data)
df4

          Day  Temperature  Windspeed  Event
0  2022-11-01           32          6  Rainy
1  2022-11-03           35          5   Snow
2  2022-11-05           28          3  Sunny

# Method 5: Tuple

In [27]:
weather_data = [
    ('2022-11-01','32',6,'Rainy'),   
    ('2022-11-02','34',3,'Rainy'),
    ('2022-11-03','30',5,'Rainy')
]
df5 = pd.DataFrame(weather_data, columns=['Day','Temperature','Windspeed','Event'])  # In Tuple method, columns name must mentioned
df5

          Day Temperature  Windspeed  Event
0  2022-11-01          32          6  Rainy
1  2022-11-02          34          3  Rainy
2  2022-11-03          30          5  Rainy

# Method 6: CSV & Excel

In [29]:
# df = pd.read_excel('weather_data.xlsx','Sheet1')  # Sheet 1 is excel sheet name, since excel contain multiple sheet, so mentioing sheet name is must
# df