# Apply Function

In [1]:
import pandas as pd
import numpy as np
import warnings as wr
wr.filterwarnings('ignore')

In [2]:
data = pd.read_csv('NYC_Jobs.csv')
data.head()

,Job ID,Agency,Posting Type,Civil Service Title,Job Category,Salary Range From,Salary Range To,Process Date
0,424339,DEPT OF HEALTH/MENTAL HYGIENE,External,PUBLIC HEALTH NURSE,Health,84252.0,84252.0,04-12-22
1,379094,NYC EMPLOYEES RETIREMENT SYS,External,CERT IT DEVELOPER (APP),"Technology, Data & Innovation",82884.0,116391.0,04-12-22
2,520417,NYC HOUSING AUTHORITY,External,EXECUTIVE AGENCY COUNSEL,Legal Affairs,105000.0,125000.0,04-12-22
3,233549,NYC EMPLOYEES RETIREMENT SYS,External,CERTIFIED IT ADMINISTRATOR (LA,Information Technology & Telecommunications,87203.0,131623.0,04-12-22
4,510256,HUMAN RIGHTS COMMISSION,External,ASSOCIATE HUMAN RIGHTS SPECIAL,Constituent Services & Community Programs,58449.0,67216.0,04-12-22

In [3]:
df = data.copy()

### Test 1.0: Apply - Square Root

In [4]:
# 1.0 Single bracket, return series object
data['Salary Range From'].apply(np.sqrt)

0       290.261951
1       287.895814
2       324.037035
3       295.301541
4       241.762280
           ...
3768    292.183162
3769    273.221522
3770    316.227766
3771    205.640463
3772    249.793915
Name: Salary Range From, Length: 3773, dtype: float64

In [5]:
# data frame object 1.2
data[['Salary Range From']].apply(np.sqrt)

      Salary Range From
0            290.261951
1            287.895814
2            324.037035
3            295.301541
4            241.762280
...                 ...
3768         292.183162
3769         273.221522
3770         316.227766
3771         205.640463
3772         249.793915

[3773 rows x 1 columns]

In [6]:
# test 1.3, see the type ita dataFrame object
type(data[['Salary Range From', 'Salary Range To']])

pandas.core.frame.DataFrame

In [7]:
data[['Salary Range From', 'Salary Range To']].apply(np.sqrt)

      Salary Range From  Salary Range To
0            290.261951       290.261951
1            287.895814       341.161252
2            324.037035       353.553391
3            295.301541       362.798842
4            241.762280       259.260487
...                 ...              ...
3768         292.183162       346.241245
3769         273.221522       292.996587
3770         316.227766       339.116499
3771         205.640463       243.721152
3772         249.793915       267.874971

[3773 rows x 2 columns]

### Take Away:

1. Pandas Apply function can be applied on either Series object or DataFrame object, can not apply on whole data is str

### Test 2:0 - Find the Average Salary for Each Job

1. it can apply for each row or each columns, by default it apply on columns

In [8]:
# Test 2.1, Applied on columns
data[['Salary Range From', 'Salary Range To']].apply(np.mean)  # default

Salary Range From    57657.939466
Salary Range To      79660.249595
dtype: float64

In [9]:
data[['Salary Range From', 'Salary Range To']].apply(np.mean, axis=0) # default

Salary Range From    57657.939466
Salary Range To      79660.249595
dtype: float64

In [10]:
# Average Salary, Row wise average
data[['Salary Range From', 'Salary Range To']].apply(np.mean, axis=1) # specied for row

0        84252.0
1        99637.5
2       115000.0
3       109413.0
4        62832.5
          ...
3768    102627.0
3769     80248.5
3770    107500.0
3771     50844.0
3772     67077.0
Length: 3773, dtype: float64

In [11]:
# Check data type >> Series
type(data[['Salary Range From', 'Salary Range To']].apply(np.mean, axis=1))

pandas.core.series.Series

1. it will not effect original dataframe, but it is possible to add the output in dataframe as test follow:

In [12]:
# Test 2.2: adding output in original df
data['Salary Avg.'] = data[['Salary Range From', 'Salary Range To']].apply(np.mean, axis=1)
data

,Job ID,Agency,Posting Type,Civil Service Title,Job Category,Salary Range From,Salary Range To,Process Date,Salary Avg.
0,424339,DEPT OF HEALTH/MENTAL HYGIENE,External,PUBLIC HEALTH NURSE,Health,84252.0,84252.0,04-12-22,84252.0
1,379094,NYC EMPLOYEES RETIREMENT SYS,External,CERT IT DEVELOPER (APP),"Technology, Data & Innovation",82884.0,116391.0,04-12-22,99637.5
2,520417,NYC HOUSING AUTHORITY,External,EXECUTIVE AGENCY COUNSEL,Legal Affairs,105000.0,125000.0,04-12-22,115000.0
3,233549,NYC EMPLOYEES RETIREMENT SYS,External,CERTIFIED IT ADMINISTRATOR (LA,Information Technology & Telecommunications,87203.0,131623.0,04-12-22,109413.0
4,510256,HUMAN RIGHTS COMMISSION,External,ASSOCIATE HUMAN RIGHTS SPECIAL,Constituent Services & Community Programs,58449.0,67216.0,04-12-22,62832.5
...,...,...,...,...,...,...,...,...,...
3768,457839,NYC EMPLOYEES RETIREMENT SYS,Internal,CERTIFIED IT ADMINISTRATOR (LA,"Technology, Data & Innovation",85371.0,119883.0,04-12-22,102627.0
3769,527141,HOUSING PRESERVATION & DVLPMNT,Internal,ASSOCIATE HOUSING DEVELOPMENT,"Engineering, Architecture, & Planning",74650.0,85847.0,04-12-22,80248.5
3770,509443,FINANCIAL INFO SVCS AGENCY,Internal,SENIOR IT ARCHITECT,"Technology, Data & Innovation",100000.0,115000.0,04-12-22,107500.0
3771,352367,DEPT OF HEALTH/MENTAL HYGIENE,Internal,ECONOMIST,"Finance, Accounting, & Procurement",42288.0,59400.0,04-12-22,50844.0
3772,478739,HUMAN RIGHTS COMMISSION,External,AGENCY ATTORNEY INTERNE,Legal Affairs,62397.0,71757.0,04-12-22,67077.0

### 3.0 Customized Fuctions

- Case 3.1: Wish to have capitalized formation in civil service title (only first letter will be capital, other are lower)

In [13]:
def capitalize_position(title):
    title_lower = title.lower()
    title_final = title_lower.capitalize()
    return title_final
data['Civil Service Title'].apply(capitalize_position)

0                  Public health nurse
1              Cert it developer (app)
2             Executive agency counsel
3       Certified it administrator (la
4       Associate human rights special
                     ...
3768    Certified it administrator (la
3769     Associate housing development
3770               Senior it architect
3771                         Economist
3772           Agency attorney interne
Name: Civil Service Title, Length: 3773, dtype: object

In [14]:
# look at the df again, nothing changed, so need to store and see again
data.head()

,Job ID,Agency,Posting Type,Civil Service Title,Job Category,Salary Range From,Salary Range To,Process Date,Salary Avg.
0,424339,DEPT OF HEALTH/MENTAL HYGIENE,External,PUBLIC HEALTH NURSE,Health,84252.0,84252.0,04-12-22,84252.0
1,379094,NYC EMPLOYEES RETIREMENT SYS,External,CERT IT DEVELOPER (APP),"Technology, Data & Innovation",82884.0,116391.0,04-12-22,99637.5
2,520417,NYC HOUSING AUTHORITY,External,EXECUTIVE AGENCY COUNSEL,Legal Affairs,105000.0,125000.0,04-12-22,115000.0
3,233549,NYC EMPLOYEES RETIREMENT SYS,External,CERTIFIED IT ADMINISTRATOR (LA,Information Technology & Telecommunications,87203.0,131623.0,04-12-22,109413.0
4,510256,HUMAN RIGHTS COMMISSION,External,ASSOCIATE HUMAN RIGHTS SPECIAL,Constituent Services & Community Programs,58449.0,67216.0,04-12-22,62832.5

In [15]:
def capitalize_position(title):
    title_lower = title.lower()
    title_final = title_lower.capitalize()
    return title_final
data['Civil Service Title'] = data['Civil Service Title'].apply(capitalize_position) # see the update

In [16]:
data.head()

,Job ID,Agency,Posting Type,Civil Service Title,Job Category,Salary Range From,Salary Range To,Process Date,Salary Avg.
0,424339,DEPT OF HEALTH/MENTAL HYGIENE,External,Public health nurse,Health,84252.0,84252.0,04-12-22,84252.0
1,379094,NYC EMPLOYEES RETIREMENT SYS,External,Cert it developer (app),"Technology, Data & Innovation",82884.0,116391.0,04-12-22,99637.5
2,520417,NYC HOUSING AUTHORITY,External,Executive agency counsel,Legal Affairs,105000.0,125000.0,04-12-22,115000.0
3,233549,NYC EMPLOYEES RETIREMENT SYS,External,Certified it administrator (la,Information Technology & Telecommunications,87203.0,131623.0,04-12-22,109413.0
4,510256,HUMAN RIGHTS COMMISSION,External,Associate human rights special,Constituent Services & Community Programs,58449.0,67216.0,04-12-22,62832.5

- Alternate by Lambda Function

In [17]:
data['Agency'].apply(lambda x: x.lower().capitalize()) # x is single entry for a column, for example it alternate of title passed in fun used above inside ()

0        Dept of health/mental hygiene
1         Nyc employees retirement sys
2                Nyc housing authority
3         Nyc employees retirement sys
4              Human rights commission
                     ...
3768      Nyc employees retirement sys
3769    Housing preservation & dvlpmnt
3770        Financial info svcs agency
3771     Dept of health/mental hygiene
3772           Human rights commission
Name: Agency, Length: 3773, dtype: object

###  4.0 Wish to make a list out of every row, Job ID to job cate, wish make all in a list

In [18]:
# test 4.1
data.apply(lambda x: x.tolist(), axis=1) # all columns merged in a single list / row

0       [424339, DEPT OF HEALTH/MENTAL HYGIENE, Extern...
1       [379094, NYC EMPLOYEES RETIREMENT SYS, Externa...
2       [520417, NYC HOUSING AUTHORITY, External, Exec...
3       [233549, NYC EMPLOYEES RETIREMENT SYS, Externa...
4       [510256, HUMAN RIGHTS COMMISSION, External, As...
                              ...
3768    [457839, NYC EMPLOYEES RETIREMENT SYS, Interna...
3769    [527141, HOUSING PRESERVATION & DVLPMNT, Inter...
3770    [509443, FINANCIAL INFO SVCS AGENCY, Internal,...
3771    [352367, DEPT OF HEALTH/MENTAL HYGIENE, Intern...
3772    [478739, HUMAN RIGHTS COMMISSION, External, Ag...
Length: 3773, dtype: object

In [19]:
# test 4.1: see the type, this is a series object
type(data.apply(lambda x: x.tolist(), axis=1))

pandas.core.series.Series

In [20]:
# test 4.2: This is a series object, but full of list
type(data.apply(lambda x: x.tolist(), axis=1)[0])

list

In [21]:
# 4.3, DataFrame
pd.DataFrame(data.apply(lambda x: x.tolist(), axis=1))

                                                      0
0     [424339, DEPT OF HEALTH/MENTAL HYGIENE, Extern...
1     [379094, NYC EMPLOYEES RETIREMENT SYS, Externa...
2     [520417, NYC HOUSING AUTHORITY, External, Exec...
3     [233549, NYC EMPLOYEES RETIREMENT SYS, Externa...
4     [510256, HUMAN RIGHTS COMMISSION, External, As...
...                                                 ...
3768  [457839, NYC EMPLOYEES RETIREMENT SYS, Interna...
3769  [527141, HOUSING PRESERVATION & DVLPMNT, Inter...
3770  [509443, FINANCIAL INFO SVCS AGENCY, Internal,...
3771  [352367, DEPT OF HEALTH/MENTAL HYGIENE, Intern...
3772  [478739, HUMAN RIGHTS COMMISSION, External, Ag...

[3773 rows x 1 columns]

#### 4.4 For example from this series want to extract data by columns, by a func 'result_type'

In [22]:
# 4.4 expand component wise
data.apply(lambda x: x.tolist(), axis=1, result_type='expand')

,0,1,2,3,4,5,6,7,8
0,424339,DEPT OF HEALTH/MENTAL HYGIENE,External,Public health nurse,Health,84252.0,84252.0,04-12-22,84252.0
1,379094,NYC EMPLOYEES RETIREMENT SYS,External,Cert it developer (app),"Technology, Data & Innovation",82884.0,116391.0,04-12-22,99637.5
2,520417,NYC HOUSING AUTHORITY,External,Executive agency counsel,Legal Affairs,105000.0,125000.0,04-12-22,115000.0
3,233549,NYC EMPLOYEES RETIREMENT SYS,External,Certified it administrator (la,Information Technology & Telecommunications,87203.0,131623.0,04-12-22,109413.0
4,510256,HUMAN RIGHTS COMMISSION,External,Associate human rights special,Constituent Services & Community Programs,58449.0,67216.0,04-12-22,62832.5
...,...,...,...,...,...,...,...,...,...
3768,457839,NYC EMPLOYEES RETIREMENT SYS,Internal,Certified it administrator (la,"Technology, Data & Innovation",85371.0,119883.0,04-12-22,102627.0
3769,527141,HOUSING PRESERVATION & DVLPMNT,Internal,Associate housing development,"Engineering, Architecture, & Planning",74650.0,85847.0,04-12-22,80248.5
3770,509443,FINANCIAL INFO SVCS AGENCY,Internal,Senior it architect,"Technology, Data & Innovation",100000.0,115000.0,04-12-22,107500.0
3771,352367,DEPT OF HEALTH/MENTAL HYGIENE,Internal,Economist,"Finance, Accounting, & Procurement",42288.0,59400.0,04-12-22,50844.0
3772,478739,HUMAN RIGHTS COMMISSION,External,Agency attorney interne,Legal Affairs,62397.0,71757.0,04-12-22,67077.0

In [23]:
# 4.5 Get original column name
data.apply(lambda x: x.tolist(), axis=1, result_type='broadcast')

,Job ID,Agency,Posting Type,Civil Service Title,Job Category,Salary Range From,Salary Range To,Process Date,Salary Avg.
0,424339,DEPT OF HEALTH/MENTAL HYGIENE,External,Public health nurse,Health,84252.0,84252.0,04-12-22,84252.0
1,379094,NYC EMPLOYEES RETIREMENT SYS,External,Cert it developer (app),"Technology, Data & Innovation",82884.0,116391.0,04-12-22,99637.5
2,520417,NYC HOUSING AUTHORITY,External,Executive agency counsel,Legal Affairs,105000.0,125000.0,04-12-22,115000.0
3,233549,NYC EMPLOYEES RETIREMENT SYS,External,Certified it administrator (la,Information Technology & Telecommunications,87203.0,131623.0,04-12-22,109413.0
4,510256,HUMAN RIGHTS COMMISSION,External,Associate human rights special,Constituent Services & Community Programs,58449.0,67216.0,04-12-22,62832.5
...,...,...,...,...,...,...,...,...,...
3768,457839,NYC EMPLOYEES RETIREMENT SYS,Internal,Certified it administrator (la,"Technology, Data & Innovation",85371.0,119883.0,04-12-22,102627.0
3769,527141,HOUSING PRESERVATION & DVLPMNT,Internal,Associate housing development,"Engineering, Architecture, & Planning",74650.0,85847.0,04-12-22,80248.5
3770,509443,FINANCIAL INFO SVCS AGENCY,Internal,Senior it architect,"Technology, Data & Innovation",100000.0,115000.0,04-12-22,107500.0
3771,352367,DEPT OF HEALTH/MENTAL HYGIENE,Internal,Economist,"Finance, Accounting, & Procurement",42288.0,59400.0,04-12-22,50844.0
3772,478739,HUMAN RIGHTS COMMISSION,External,Agency attorney interne,Legal Affairs,62397.0,71757.0,04-12-22,67077.0

# 5.0 Pandas Functions: Apply vs. Map vs. Applymap

1. Apply function applies on each entries/elements either row/ column
2. Map function besically not so used, because apply function can  do it
3. Apply map : basically applied on whole dataframe elements wise

#### Apply function

In [24]:
def capitalize(title):
    return title.lower().capitalize()

data['Agency'].apply(capitalize)

0        Dept of health/mental hygiene
1         Nyc employees retirement sys
2                Nyc housing authority
3         Nyc employees retirement sys
4              Human rights commission
                     ...
3768      Nyc employees retirement sys
3769    Housing preservation & dvlpmnt
3770        Financial info svcs agency
3771     Dept of health/mental hygiene
3772           Human rights commission
Name: Agency, Length: 3773, dtype: object

#### Applymap function

In [25]:
# Applymap on whole dataset
def add_year(text):
    return str(text) + '_2023'

data.applymap(add_year)

,Job ID,Agency,Posting Type,Civil Service Title,Job Category,Salary Range From,Salary Range To,Process Date,Salary Avg.
0,424339_2023,DEPT OF HEALTH/MENTAL HYGIENE_2023,External_2023,Public health nurse_2023,Health_2023,84252.0_2023,84252.0_2023,04-12-22_2023,84252.0_2023
1,379094_2023,NYC EMPLOYEES RETIREMENT SYS_2023,External_2023,Cert it developer (app)_2023,"Technology, Data & Innovation_2023",82884.0_2023,116391.0_2023,04-12-22_2023,99637.5_2023
2,520417_2023,NYC HOUSING AUTHORITY_2023,External_2023,Executive agency counsel_2023,Legal Affairs_2023,105000.0_2023,125000.0_2023,04-12-22_2023,115000.0_2023
3,233549_2023,NYC EMPLOYEES RETIREMENT SYS_2023,External_2023,Certified it administrator (la_2023,Information Technology & Telecommunications_2023,87203.0_2023,131623.0_2023,04-12-22_2023,109413.0_2023
4,510256_2023,HUMAN RIGHTS COMMISSION_2023,External_2023,Associate human rights special_2023,Constituent Services & Community Programs_2023,58449.0_2023,67216.0_2023,04-12-22_2023,62832.5_2023
...,...,...,...,...,...,...,...,...,...
3768,457839_2023,NYC EMPLOYEES RETIREMENT SYS_2023,Internal_2023,Certified it administrator (la_2023,"Technology, Data & Innovation_2023",85371.0_2023,119883.0_2023,04-12-22_2023,102627.0_2023
3769,527141_2023,HOUSING PRESERVATION & DVLPMNT_2023,Internal_2023,Associate housing development_2023,"Engineering, Architecture, & Planning_2023",74650.0_2023,85847.0_2023,04-12-22_2023,80248.5_2023
3770,509443_2023,FINANCIAL INFO SVCS AGENCY_2023,Internal_2023,Senior it architect_2023,"Technology, Data & Innovation_2023",100000.0_2023,115000.0_2023,04-12-22_2023,107500.0_2023
3771,352367_2023,DEPT OF HEALTH/MENTAL HYGIENE_2023,Internal_2023,Economist_2023,"Finance, Accounting, & Procurement_2023",42288.0_2023,59400.0_2023,04-12-22_2023,50844.0_2023
3772,478739_2023,HUMAN RIGHTS COMMISSION_2023,External_2023,Agency attorney interne_2023,Legal Affairs_2023,62397.0_2023,71757.0_2023,04-12-22_2023,67077.0_2023

# 6.0 Map on Series or Dictionary to the Map Function

In [26]:
# Create a series object
s = pd.Series(['Cat','Dog','NaN', 'Rabbit'])
s

0       Cat
1       Dog
2       NaN
3    Rabbit
dtype: object

In [27]:
# replace with Map with dic, if not matched that will ruturn Nan, be careful about that
s.map({'Cat':'Kitten','Dog':'Puppy'})

0    Kitten
1     Puppy
2       NaN
3       NaN
dtype: object

In [28]:
## Replace map with fuction
def change_word(title):
    return title.replace('DEPT','Division')

data['Agency'].map(change_word)

0       Division OF HEALTH/MENTAL HYGIENE
1            NYC EMPLOYEES RETIREMENT SYS
2                   NYC HOUSING AUTHORITY
3            NYC EMPLOYEES RETIREMENT SYS
4                 HUMAN RIGHTS COMMISSION
                      ...
3768         NYC EMPLOYEES RETIREMENT SYS
3769       HOUSING PRESERVATION & DVLPMNT
3770           FINANCIAL INFO SVCS AGENCY
3771    Division OF HEALTH/MENTAL HYGIENE
3772              HUMAN RIGHTS COMMISSION
Name: Agency, Length: 3773, dtype: object

1. Apply map effect all df
2. Map on sigle column, lets take an example

In [29]:
data.head()

,Job ID,Agency,Posting Type,Civil Service Title,Job Category,Salary Range From,Salary Range To,Process Date,Salary Avg.
0,424339,DEPT OF HEALTH/MENTAL HYGIENE,External,Public health nurse,Health,84252.0,84252.0,04-12-22,84252.0
1,379094,NYC EMPLOYEES RETIREMENT SYS,External,Cert it developer (app),"Technology, Data & Innovation",82884.0,116391.0,04-12-22,99637.5
2,520417,NYC HOUSING AUTHORITY,External,Executive agency counsel,Legal Affairs,105000.0,125000.0,04-12-22,115000.0
3,233549,NYC EMPLOYEES RETIREMENT SYS,External,Certified it administrator (la,Information Technology & Telecommunications,87203.0,131623.0,04-12-22,109413.0
4,510256,HUMAN RIGHTS COMMISSION,External,Associate human rights special,Constituent Services & Community Programs,58449.0,67216.0,04-12-22,62832.5

In [30]:
# map on single col, like adding a sentence
data['Agency'].map('This Position is offered by {}'.format) # .format must be outside of quoation

0       This Position is offered by DEPT OF HEALTH/MEN...
1       This Position is offered by NYC EMPLOYEES RETI...
2       This Position is offered by NYC HOUSING AUTHORITY
3       This Position is offered by NYC EMPLOYEES RETI...
4       This Position is offered by HUMAN RIGHTS COMMI...
                              ...
3768    This Position is offered by NYC EMPLOYEES RETI...
3769    This Position is offered by HOUSING PRESERVATI...
3770    This Position is offered by FINANCIAL INFO SVC...
3771    This Position is offered by DEPT OF HEALTH/MEN...
3772    This Position is offered by HUMAN RIGHTS COMMI...
Name: Agency, Length: 3773, dtype: object

## 1.0 Map Function

In [39]:
5%2 ==1 # Check odd & even. checking by 1 with 'True' that mean it check

True

In [32]:
6%2 ==1 # even, it will not return/ reminder 1 if divided by 2, so fales & its is even number

False

In [40]:
5%2 ==0 # it wil not return any remainder, so it it odd number

False

### Q1. From a list return all even number

In [ ]:
# Map Function - map(function, iterable)      >> Syntax
#              - returns an iterator that applies function to every item of iterable

In [33]:
# 1.1 (test1) - General
def make_even(num):
    if num%2 == 1:
        return num+1
    else:
        return num
x = [565, 541, 890, 891, 854, 853, 223, 234, 243, 244, 114, 115, 111, 679, 515, 516]

y = []

for num in x:
    y.append(make_even(num)) # apply make even fun to num
    
print(y)

[566, 542, 890, 892, 854, 854, 224, 234, 244, 244, 114, 116, 112, 680, 516, 516]

#### 1.1 Code Narration (Q1- Test 1)

1. define a fun that will take a single num
2. if any reminder (==1) that wil be odd number, so in return add 1, to get "Even Numbers"
3. Otherwise, return num
4. x is a list of all mixed numbers (odd & even)
5. y is black list for storing numbers (which will be passed by append even numbers only
6. print y

In [35]:
# 1.2 (test2) - Map Function
def make_even(num):
    if num%2 == 1:
        return num+1
    else:
        return num
x = [565, 541, 890, 891, 854, 853, 223, 234, 243, 244, 114, 115, 111, 679, 515, 516]

##      function, iterable
y = map(make_even, x) # return python 'map object' this is python way to save memory to print, need to convert in list
   
print(y)

<map object at 0x000001D13FB42CE0>

In [36]:
def make_even(num):
    if num%2 == 1:
        return num+1
    else:
        return num
x = [565, 541, 890, 891, 854, 853, 223, 234, 243, 244, 114, 115, 111, 679, 515, 516]

y = list(map(make_even, x))  # after map, append is not requried/ supported

print(y)

[566, 542, 890, 892, 854, 854, 224, 234, 244, 244, 114, 116, 112, 680, 516, 516]

In [37]:
# List Comprehension
def make_even(num):
    if num%2 == 1:
        return num+1
    else:
        return num
x = [565, 541, 890, 891, 854, 853, 223, 234, 243, 244, 114, 115, 111, 679, 515, 516]

y = [make_even(num) for num in x] # list comprehension

print(y)

[566, 542, 890, 892, 854, 854, 224, 234, 244, 244, 114, 116, 112, 680, 516, 516]

1. Map & list comprehenion is preferable for use most
2. list comprehesion is more preferable to use

## 1.2 Map , Filter & Reduce Function

##### Problem 2: Compute Area of a circle !

In [41]:
# Test 2.1
import math

def area(r):
    return math.pi * (r**2)

radii = [2, 5, 7.1, 0.3, 10] # list of radias
pass

# Method 1: Direct Method

areas = []                      # first create a empty list of areas
for r in radii:                 # Loop over the list of radias
    a = area(r)                 # for each radias compute the radias of circle
    areas.append(a)             # then append to the area list
    
areas

[12.566370614359172,
 78.53981633974483,
 158.36768566746147,
 0.2827433388230814,
 314.1592653589793]

In [ ]:
# 2.2 : Method 2: we can complete with a lingle line of code
# syntax map(function, list or iterable)

In [42]:
# Test 2.2
import math

def area(r):
    return math.pi * (r**2)

radii = [2, 5, 7.1, 0.3, 10] # list of radias
pass

# Method 2: Use 'Map' fuction

map(area, radii) # here map will apply on area func of each elements of list(radii) >> return map object

In [43]:
# Test 2.2
import math

def area(r):
    return math.pi * (r**2)

radii = [2, 5, 7.1, 0.3, 10] # list of radias
pass

# Method 2: Use 'Map' fuction

list(map(area, radii))  # print when convert to list constractor

[12.566370614359172,
 78.53981633974483,
 158.36768566746147,
 0.2827433388230814,
 314.1592653589793]

### Ref

1. https://www.youtube.com/watch?v=DsjvCKxOdgI
2. https://www.youtube.com/watch?v=Emd4oXErshw
3. https://www.youtube.com/watch?v=hUes6y2b--0