# Apply Function

In [3]:
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv('NYC_Jobs.csv')
data.head()

,Job ID,Agency,Posting Type,Civil Service Title,Job Category,Salary Range From,Salary Range To,Process Date
0,424339,DEPT OF HEALTH/MENTAL HYGIENE,External,PUBLIC HEALTH NURSE,Health,84252.0,84252.0,04-12-22
1,379094,NYC EMPLOYEES RETIREMENT SYS,External,CERT IT DEVELOPER (APP),"Technology, Data & Innovation",82884.0,116391.0,04-12-22
2,520417,NYC HOUSING AUTHORITY,External,EXECUTIVE AGENCY COUNSEL,Legal Affairs,105000.0,125000.0,04-12-22
3,233549,NYC EMPLOYEES RETIREMENT SYS,External,CERTIFIED IT ADMINISTRATOR (LA,Information Technology & Telecommunications,87203.0,131623.0,04-12-22
4,510256,HUMAN RIGHTS COMMISSION,External,ASSOCIATE HUMAN RIGHTS SPECIAL,Constituent Services & Community Programs,58449.0,67216.0,04-12-22

### Test 1.0: Apply - Square Root

In [10]:
# 1.0 Single bracket, return series object
data['Salary Range From'].apply(np.sqrt)

0       290.261951
1       287.895814
2       324.037035
3       295.301541
4       241.762280
           ...
3768    292.183162
3769    273.221522
3770    316.227766
3771    205.640463
3772    249.793915
Name: Salary Range From, Length: 3773, dtype: float64

In [9]:
# data frame object 1.2
data[['Salary Range From']].apply(np.sqrt)

      Salary Range From
0            290.261951
1            287.895814
2            324.037035
3            295.301541
4            241.762280
...                 ...
3768         292.183162
3769         273.221522
3770         316.227766
3771         205.640463
3772         249.793915

[3773 rows x 1 columns]

In [12]:
# test 1.3, see the type ita dataFrame object
type(data[['Salary Range From', 'Salary Range To']])

pandas.core.frame.DataFrame

In [13]:
data[['Salary Range From', 'Salary Range To']].apply(np.sqrt)

      Salary Range From  Salary Range To
0            290.261951       290.261951
1            287.895814       341.161252
2            324.037035       353.553391
3            295.301541       362.798842
4            241.762280       259.260487
...                 ...              ...
3768         292.183162       346.241245
3769         273.221522       292.996587
3770         316.227766       339.116499
3771         205.640463       243.721152
3772         249.793915       267.874971

[3773 rows x 2 columns]

### Take Away:

1. Pandas Apply function can be applied on either Series object or DataFrame object, can not apply on whole data is str

### Test 2:0 - Find the Average Salary for Each Job

1. it can apply for each row or each columns, by default it apply on columns

In [16]:
# Test 2.1, Applied on columns
data[['Salary Range From', 'Salary Range To']].apply(np.mean)  # default

Salary Range From    57657.939466
Salary Range To      79660.249595
dtype: float64

In [17]:
data[['Salary Range From', 'Salary Range To']].apply(np.mean, axis=0)

Salary Range From    57657.939466
Salary Range To      79660.249595
dtype: float64

In [18]:
data[['Salary Range From', 'Salary Range To']].apply(np.mean, axis=1) # specied for row

0        84252.0
1        99637.5
2       115000.0
3       109413.0
4        62832.5
          ...
3768    102627.0
3769     80248.5
3770    107500.0
3771     50844.0
3772     67077.0
Length: 3773, dtype: float64

In [20]:
# Check data type >> Series
type(data[['Salary Range From', 'Salary Range To']].apply(np.mean, axis=1))

pandas.core.series.Series

1. it will not effect original dataframe, but it is possible to add the output in dataframe as test follow:

In [21]:
# Test 2.2: adding output in original df
data['Salary Avg.'] = data[['Salary Range From', 'Salary Range To']].apply(np.mean, axis=1)
data

,Job ID,Agency,Posting Type,Civil Service Title,Job Category,Salary Range From,Salary Range To,Process Date,Salary Avg.
0,424339,DEPT OF HEALTH/MENTAL HYGIENE,External,PUBLIC HEALTH NURSE,Health,84252.0,84252.0,04-12-22,84252.0
1,379094,NYC EMPLOYEES RETIREMENT SYS,External,CERT IT DEVELOPER (APP),"Technology, Data & Innovation",82884.0,116391.0,04-12-22,99637.5
2,520417,NYC HOUSING AUTHORITY,External,EXECUTIVE AGENCY COUNSEL,Legal Affairs,105000.0,125000.0,04-12-22,115000.0
3,233549,NYC EMPLOYEES RETIREMENT SYS,External,CERTIFIED IT ADMINISTRATOR (LA,Information Technology & Telecommunications,87203.0,131623.0,04-12-22,109413.0
4,510256,HUMAN RIGHTS COMMISSION,External,ASSOCIATE HUMAN RIGHTS SPECIAL,Constituent Services & Community Programs,58449.0,67216.0,04-12-22,62832.5
...,...,...,...,...,...,...,...,...,...
3768,457839,NYC EMPLOYEES RETIREMENT SYS,Internal,CERTIFIED IT ADMINISTRATOR (LA,"Technology, Data & Innovation",85371.0,119883.0,04-12-22,102627.0
3769,527141,HOUSING PRESERVATION & DVLPMNT,Internal,ASSOCIATE HOUSING DEVELOPMENT,"Engineering, Architecture, & Planning",74650.0,85847.0,04-12-22,80248.5
3770,509443,FINANCIAL INFO SVCS AGENCY,Internal,SENIOR IT ARCHITECT,"Technology, Data & Innovation",100000.0,115000.0,04-12-22,107500.0
3771,352367,DEPT OF HEALTH/MENTAL HYGIENE,Internal,ECONOMIST,"Finance, Accounting, & Procurement",42288.0,59400.0,04-12-22,50844.0
3772,478739,HUMAN RIGHTS COMMISSION,External,AGENCY ATTORNEY INTERNE,Legal Affairs,62397.0,71757.0,04-12-22,67077.0