## Cover-Pandas_DataFrame Basic

- Creating Data Frame by using read_csv method
- Creating Data Frame by using python dictionary
- What is Data Frame
- Head & Tail
- Indexcing & Slicing
- Types of Data Frame
- Pandas Operation
- Index Set & Reset

### DataFrame

- Data Frame is all abour rows & columns

In [1]:
import pandas as pd

### Import data by using pandas dataframe

In [2]:
df = pd.read_csv('weather_data.csv')
df

         day  event  temperature  windspeed
0  01-Nov-22  Rainy           26          2
1  02-Nov-22  Sunny           36          5
2  03-Nov-22   Snow           37          6
3  04-Nov-22   Snow           32          8
4  05-Nov-22  Rainy           29          4
5  06-Nov-22  Rainy           37          2

### Creating DataFrame by using Python Dictionaries

In [3]:
wether_data2 = {
     'day':['01-Nov-22','02-Nov-22','03-Nov-22','04-Nov-22','05-Nov-22','06-Nov-22'],  # Keys & Value Pair or Key:value
     'temperature':[26,36,32,35,33,31],
     'windspeed':[2,5,6,3,4,2],
     'event':['Rainy','Sunny','Snow','Snow','Rainy','Rainy']
 }
df2 = pd.DataFrame(wether_data2)
df2

         day  temperature  windspeed  event
0  01-Nov-22           26          2  Rainy
1  02-Nov-22           36          5  Sunny
2  03-Nov-22           32          6   Snow
3  04-Nov-22           35          3   Snow
4  05-Nov-22           33          4  Rainy
5  06-Nov-22           31          2  Rainy

In [4]:
df.shape  # 6 is number of rows & 4 is number of columns, the value returned  is tuple, you store this tuple in rows & columns

(6, 4)

In [5]:
rows, columns = df.shape # Storing rows & columns

#### Printing Rows & Columns

In [6]:
rows

6

In [7]:
columns

4

In [8]:
df.head() # Print only few rows

         day  event  temperature  windspeed
0  01-Nov-22  Rainy           26          2
1  02-Nov-22  Sunny           36          5
2  03-Nov-22   Snow           37          6
3  04-Nov-22   Snow           32          8
4  05-Nov-22  Rainy           29          4

In [9]:
df.head(2)

         day  event  temperature  windspeed
0  01-Nov-22  Rainy           26          2
1  02-Nov-22  Sunny           36          5

In [10]:
df.tail() # Default last 5 rows

         day  event  temperature  windspeed
1  02-Nov-22  Sunny           36          5
2  03-Nov-22   Snow           37          6
3  04-Nov-22   Snow           32          8
4  05-Nov-22  Rainy           29          4
5  06-Nov-22  Rainy           37          2

In [11]:
df.tail(2) # last 2 rows

         day  event  temperature  windspeed
4  05-Nov-22  Rainy           29          4
5  06-Nov-22  Rainy           37          2

In [12]:
df[2:5] # Prining row number 2 to 4, it will excludes row number 5

         day  event  temperature  windspeed
2  03-Nov-22   Snow           37          6
3  04-Nov-22   Snow           32          8
4  05-Nov-22  Rainy           29          4

In [13]:
df[:] # Print Everything

         day  event  temperature  windspeed
0  01-Nov-22  Rainy           26          2
1  02-Nov-22  Sunny           36          5
2  03-Nov-22   Snow           37          6
3  04-Nov-22   Snow           32          8
4  05-Nov-22  Rainy           29          4
5  06-Nov-22  Rainy           37          2

In [14]:
df # Print Everything- Alternative

         day  event  temperature  windspeed
0  01-Nov-22  Rainy           26          2
1  02-Nov-22  Sunny           36          5
2  03-Nov-22   Snow           37          6
3  04-Nov-22   Snow           32          8
4  05-Nov-22  Rainy           29          4
5  06-Nov-22  Rainy           37          2

In [15]:
df.columns

Index(['day', 'event', 'temperature', 'windspeed'], dtype='object')

In [16]:
df.day

0    01-Nov-22
1    02-Nov-22
2    03-Nov-22
3    04-Nov-22
4    05-Nov-22
5    06-Nov-22
Name: day, dtype: object

In [17]:
df.event

0    Rainy
1    Sunny
2     Snow
3     Snow
4    Rainy
5    Rainy
Name: event, dtype: object

In [18]:
df.temperature

0    26
1    36
2    37
3    32
4    29
5    37
Name: temperature, dtype: int64

In [19]:
df.windspeed

0    2
1    5
2    6
3    8
4    4
5    2
Name: windspeed, dtype: int64

### Tips & Ticks

- Press B  > Its work to get you new cell
- See all the shortcut in by clicking on "Open Command Palette"

### Type of data frame

In [20]:
type(df['event']) # the columns of event of dataframe is pandas series

pandas.core.series.Series

In [21]:
type(df['temperature'])

pandas.core.series.Series

In [22]:
df[['event','day']] # Printing customized columns

   event        day
0  Rainy  01-Nov-22
1  Sunny  02-Nov-22
2   Snow  03-Nov-22
3   Snow  04-Nov-22
4  Rainy  05-Nov-22
5  Rainy  06-Nov-22

In [23]:
df[['event','day','temperature']] # this way it possible to print multiple / customized columns

   event        day  temperature
0  Rainy  01-Nov-22           26
1  Sunny  02-Nov-22           36
2   Snow  03-Nov-22           37
3   Snow  04-Nov-22           32
4  Rainy  05-Nov-22           29
5  Rainy  06-Nov-22           37

## Operations with Data Frame

In [24]:
df

         day  event  temperature  windspeed
0  01-Nov-22  Rainy           26          2
1  02-Nov-22  Sunny           36          5
2  03-Nov-22   Snow           37          6
3  04-Nov-22   Snow           32          8
4  05-Nov-22  Rainy           29          4
5  06-Nov-22  Rainy           37          2

In [25]:
df['temperature'] # Print all temperature

0    26
1    36
2    37
3    32
4    29
5    37
Name: temperature, dtype: int64

In [26]:
df['temperature'].max()  # Getting Maximum temperature from the dataset
df['temperature'].min()
df['temperature'].mean()
df['temperature'].std() # standard deviation

4.622409184253019

In [27]:
df.describe() # Statistical Insights (with percentile) only statistical data/ numerial data

       temperature  windspeed
count     6.000000   6.000000
mean     32.833333   4.500000
std       4.622409   2.345208
min      26.000000   2.000000
25%      29.750000   2.500000
50%      34.000000   4.500000
75%      36.750000   5.750000
max      37.000000   8.000000

### Conditional Selection on data frame

In [28]:
df[df.temperature>=32]  # Select temperature when its >=32

         day  event  temperature  windspeed
1  02-Nov-22  Sunny           36          5
2  03-Nov-22   Snow           37          6
3  04-Nov-22   Snow           32          8
5  06-Nov-22  Rainy           37          2

In [29]:
df[df.temperature<32]

         day  event  temperature  windspeed
0  01-Nov-22  Rainy           26          2
4  05-Nov-22  Rainy           29          4

In [30]:
df[df.windspeed>=5]

         day  event  temperature  windspeed
1  02-Nov-22  Sunny           36          5
2  03-Nov-22   Snow           37          6
3  04-Nov-22   Snow           32          8

In [31]:
df['temperature'].max()

37

In [32]:
df[df.temperature==df.temperature.max()] # Max values

         day  event  temperature  windspeed
2  03-Nov-22   Snow           37          6
5  06-Nov-22  Rainy           37          2

In [33]:
df['day'][df.temperature == df.temperature.max()] # extract day only for maximum

2    03-Nov-22
5    06-Nov-22
Name: day, dtype: object

In [34]:
df[['day','temperature']][df.temperature==df['temperature'].max()]

         day  temperature
2  03-Nov-22           37
5  06-Nov-22           37

# Set Index Method

In [35]:
df

         day  event  temperature  windspeed
0  01-Nov-22  Rainy           26          2
1  02-Nov-22  Sunny           36          5
2  03-Nov-22   Snow           37          6
3  04-Nov-22   Snow           32          8
4  05-Nov-22  Rainy           29          4
5  06-Nov-22  Rainy           37          2

In [36]:
df.index   # index range 0-6, step size =1

RangeIndex(start=0, stop=6, step=1)

### Index Customization by using set_index

In [37]:
df.set_index('day')  # Its returns the new data set, it doesnt modify the existent dataset, if you want to modify use inplace=true

           event  temperature  windspeed
day
01-Nov-22  Rainy           26          2
02-Nov-22  Sunny           36          5
03-Nov-22   Snow           37          6
04-Nov-22   Snow           32          8
05-Nov-22  Rainy           29          4
06-Nov-22  Rainy           37          2

In [38]:
df

         day  event  temperature  windspeed
0  01-Nov-22  Rainy           26          2
1  02-Nov-22  Sunny           36          5
2  03-Nov-22   Snow           37          6
3  04-Nov-22   Snow           32          8
4  05-Nov-22  Rainy           29          4
5  06-Nov-22  Rainy           37          2

In [40]:
# df.loc['04-Nov-22']    # loc works on index only

In [47]:
# df.loc['02-Nov-22']

In [48]:
# df.loc['06-Nov-22']

In [43]:
df

         day  event  temperature  windspeed
0  01-Nov-22  Rainy           26          2
1  02-Nov-22  Sunny           36          5
2  03-Nov-22   Snow           37          6
3  04-Nov-22   Snow           32          8
4  05-Nov-22  Rainy           29          4
5  06-Nov-22  Rainy           37          2

In [44]:
df.reset_index(inplace=True)  # Reset/return/back Index Number
df

   index        day  event  temperature  windspeed
0      0  01-Nov-22  Rainy           26          2
1      1  02-Nov-22  Sunny           36          5
2      2  03-Nov-22   Snow           37          6
3      3  04-Nov-22   Snow           32          8
4      4  05-Nov-22  Rainy           29          4
5      5  06-Nov-22  Rainy           37          2

In [45]:
df.set_index('event', inplace=True)  # Making event as index
df

       index        day  temperature  windspeed
event
Rainy      0  01-Nov-22           26          2
Sunny      1  02-Nov-22           36          5
Snow       2  03-Nov-22           37          6
Snow       3  04-Nov-22           32          8
Rainy      4  05-Nov-22           29          4
Rainy      5  06-Nov-22           37          2

In [46]:
df.loc['Snow']  # Any columns can be set as index

       index        day  temperature  windspeed
event
Snow       2  03-Nov-22           37          6
Snow       3  04-Nov-22           32          8