# Exploratory Data Analysis

- Series
- DataFrame
- Exporting Data
- Export data to SQL

In [37]:
import pandas as pd
import numpy as np

# Series

In [38]:
s1= pd.Series(np.random.random(10))
s1, type(s1)

(0    0.256542
 1    0.305117
 2    0.945453
 3    0.766201
 4    0.526303
 5    0.911376
 6    0.044036
 7    0.239222
 8    0.205867
 9    0.820050
 dtype: float64,
 pandas.core.series.Series)

In [39]:
s1 = pd.Series(np.random.random(10), name='temperature')
s1

0    0.446724
1    0.491420
2    0.240124
3    0.762366
4    0.510576
5    0.554220
6    0.373796
7    0.304396
8    0.050326
9    0.304819
Name: temperature, dtype: float64

# DataFrame

In [40]:
df1 = pd.DataFrame(
    {
        'age': np.arange(20, 31),     # total 11 values in the range (20-31)
        'height': np.arange(160,171)  # total 11 values in the range (160-171) ; shape must be same
    }
)
df1

    age  height
0    20     160
1    21     161
2    22     162
3    23     163
4    24     164
5    25     165
6    26     166
7    27     167
8    28     168
9    29     169
10   30     170

# Exporting Data

In [36]:
df1.to_clipboard()   # Copy to clipboard
df1.to_csv('\\pandas\\student.csv', index=False)
df1.to_json('.\\data\\student.json')
df1.to_html('.\\data\\student.html')

In [44]:
df1.to_csv('student.csv', index=False)
df1.to_excel('student.xlsx', sheet_name='Student')   # File name is student & sheet name will be student
df1.to_excel('student.xlsx', sheet_name='Parent')  # File name is student, while the sheet will be renamed as parent as overwriting
df1.to_xml('student.xml')

### Export to SQL

In [46]:
import sqlite3
con = sqlite3.connect('student.db')  # Creating a connection as con
df1.to_sql('student', con)
con.commit()