# Different Ways of Creating Data Frame - Pandas

 - 1. Using CSV
 - 2. Using Exel
 - 3. From Python Dictionary
 - 4. From List of Tuple
 - 5. From List of Dictionaries

In [1]:
import pandas as pd

### Method 1: Using CSV

In [3]:
df = pd.read_csv('weather_data.csv')  # when data in another foler c:\\data\\....
df

         day  event  temperature  windspeed
0  01-Nov-22  Rainy           26          2
1  02-Nov-22  Sunny           36          5
2  03-Nov-22   Snow           37          6
3  04-Nov-22   Snow           32          8
4  05-Nov-22  Rainy           29          4
5  06-Nov-22  Rainy           37          2

### Method 2: Using Excel

In [5]:
df2 = pd.read_excel('weather_data.xlsx','Sheet1')  # Sheet 1 is excel sheet name, since excel contain multiple sheet, so mentioing sheet name is must
df2

         day  event  temperature  windspeed
0 2022-11-01  Rainy           26          2
1 2022-11-02  Sunny           36          5
2 2022-11-03   Snow           37          6
3 2022-11-04   Snow           32          8
4 2022-11-05  Rainy           29          4
5 2022-11-06  Rainy           37          2

### Method 3: Python Dictionary

In [6]:
weather_data = {
    'day': ['2022-11-01','2022-11-02','2022-11-03'],
    'temperature': [26,36,27],
    'windspeed':[2,5,7],
    'event':['Rainy','Sunny','Snow']
}

df3 = pd.DataFrame(weather_data)
df3

          day  temperature  windspeed  event
0  2022-11-01           26          2  Rainy
1  2022-11-02           36          5  Sunny
2  2022-11-03           27          7   Snow

### Method 4: Tuple

In [7]:
weather_data = [
    ('2022-11-01','32',6,'Rainy'),   
    ('2022-11-02','34',3,'Rainy'),
    ('2022-11-03','30',5,'Rainy')
]
df4 = pd.DataFrame(weather_data, columns=['Day','Temperature','Windspeed','Event'])  # In Tuple method, columns name must mentioned
df4

          Day Temperature  Windspeed  Event
0  2022-11-01          32          6  Rainy
1  2022-11-02          34          3  Rainy
2  2022-11-03          30          5  Rainy

### Method 5: Creating Data Frame by using Dictionaries

In [8]:
weather_data = [
    {'Day': '2022-11-01', 'Temperature':32,'Windspeed':6,'Event':'Rainy'},
    {'Day': '2022-11-03', 'Temperature':35,'Windspeed':5,'Event':'Snow'},
    {'Day': '2022-11-05', 'Temperature':28,'Windspeed':3,'Event':'Sunny'},
]
df5 = pd.DataFrame(weather_data)
df5

          Day  Temperature  Windspeed  Event
0  2022-11-01           32          6  Rainy
1  2022-11-03           35          5   Snow
2  2022-11-05           28          3  Sunny